@import "reset.css";
/*
기본사항
font-size : 16px
*/

* {
  font-family: "나눔스퀘어";
}
html{
  font-size: 16px;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

p{
  margin: 0px
}


.top_manu {
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 255, 255, 1.0);
  padding: 1rem 0;
  position: absolute;
  z-index: 1;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 100%;
}

.main_contents {
  width: 100%;
}

.area_block{
  width: 100vw;
  height: 200vh;
  position: relative;
}
.information_area{
  /* margin: 0 0 10vh 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  position: sticky;
  top: 0;
}
.information_title{
  margin-left: min(5vw);
  margin-right: min(5vw);
}
.information_title h1, .information_area h2{
  font-size: 3rem;
  margin: 0;
  font-weight: 600;
}
.information_title p{
  font-size: 1.5rem;
}
.information_title h3{
  font-size: 2rem;
  margin: 0.5rem;
}
#information_title_h2_special{
  font-size: 1.5rem;
  line-height: 2em;
  margin: 0;
  font-weight: 600;
}
.animation_fadein{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translate(0,20%);
  }
  to{
    opacity: 1;
    transform: translate(0,0);
  }
}

.animation_fadeout{
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from{
    opacity: 1;
    transform: translate(0,0);
  }
  to{
    opacity: 0;
    transform: translate(0,20%);
  }
}



.indicate{
  position: fixed;
  top: 50vh;
  left:95vw;
  z-index: 1;
  text-align: center;
  transform: translateY(-50%);
  width: 1vw;
}
.indicateUnit{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  list-style-type: none;
  margin-bottom: 10px;
  transition: all 0.5s;
}
/*
pc에서만 hover가 동작되고 모바일에서는 hover 동작하지 않도록 함
참고 : https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
*/
@media(hover:hover){
.indicateUnit:hover{
  width: 1.0rem;
  height: 1.0rem;
  cursor: pointer;
}
}
.indicateSelected{
  width: 1.0rem;
  height: 1.0rem;
}
.indicate ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.information_title {
  width: 75%;
  text-align:center;
  line-height:1.8;
  transform: translate(0,-20%);
  position: relative;
}

.list_viewer{
  width: 65%;
  height: 40vh;
  overflow: hidden;
  margin: auto;
}
.container{
  width: 300%;
  height: 40vh;
  transition: transform 0.5s;
}

.brunch{
  width: calc((100%/3));
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.card{
  width: 30%;
  height: 75%;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  margin: auto;
  
  float: left;
  transition: transform 0.5s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card:hover{
  transform: scale(1.05);
}
.card p{
  margin: 0.2rem;
}

.btn{
  all:unset;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(225deg);
  cursor: pointer;
}
#prev_btn{
  position: absolute;
  left: 6%;
  top: 50%;
  transform: rotate(225deg);
  pointer-events: none;
}
#next_btn{
  position: absolute;
  right: 6%;
  top: 50%;
  transform: rotate(45deg);
}

footer {
  background-color: #2d2d2d;
  color: white;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}
@media (max-width:1919px) {
  .information_area{
    background-size: cover !important;
    background-position: center !important;
  }

  .information_title h1, .information_area h2{
    font-size: 2.8rem;
  }

  .information_title p{
    font-size: 1.4rem;
  }
  .information_title h3{
    font-size: 1.9rem;
  }

  .btn{
    width: 1.4rem;
    height: 1.4rem;
  }

  #information_title_h2_special{
    font-size: 1.4rem;
  }

}

@media (max-width:1440px) {

  .information_title h1, .information_area h2{
    font-size: 2.6rem;
  }

  .information_title p{
    font-size: 1.3rem;
  }

  .information_title h3{
    font-size: 1.8rem;
  }

  .btn{
    width: 1.3rem;
    height: 1.3rem;
  }
  #information_title_h2_special{
    font-size: 1.3rem;
  }
  .list_viewer,.container{
    height: 70vh;
  }
  .brunch{
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 80%;
    height: 25%;
  }
}

@media (max-width:1279px) {
  .top_manu {
    height: 3.5rem;
  }

  .information_title h1, .information_area h2{
    font-size: 2.4rem;
  }

  .information_title p{
    font-size: 1.2rem;
  }
  .information_title h3{
    font-size: 1.7rem;
  }
  .btn{
    width: 1.2rem;
    height: 1.2rem;
  }
  #information_title_h2_special{
    font-size: 1.2rem;
  }
}


@media (max-width:899px) {
  .information_area{
    background-size: cover;
    background-position: center;
  }

  .top_manu {
    height: 2.45rem;
  }

  .information_title h1, .information_area h2{
    font-size: 2.2rem;
  }

  .information_title p{
    font-size: 1.1rem;
  }
  .information_title h3{
    font-size: 1.6rem;

  }
  #information_title_h2_special{
    font-size: 1.1rem;
  }

  .indicate{
    position: fixed;
    top: 90vh;
    left:50vw;
    z-index: 1;
    text-align: center;
    transform: translateX(-50%);
    width: 50vw;
  }
  .indicate ul{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn{
    width: 1.1rem;
    height: 1.1rem;
    visibility: hidden;
  }
  .list_viewer{
    width: 100%;
  }
  .card{
    width: 80%;
  }
}



@media(max-width:599px) {
  .top_manu {
    height: 1.7rem;
  }

  .main_contents {
    width: 100%;
    margin:auto;
  }

  .information_title h1, .information_area h2{
    font-size: 2rem;
  }

  .information_title p{
    font-size: 1rem;
  }
  .information_title h3{
    font-size: 1.5rem;
  }

  #information_title_h2_special{
    font-size: 1rem;
  }
  footer {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
  }
}